<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="box box-sm">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis veniam harum explicabo, vel facere officia quod est nihil excepturi itaque, aut consectetur illo! Exercitationem ipsa quis expedita doloremque in officia quod repellendus non, saepe voluptas aut, temporibus ut iusto consectetur ad cupiditate vel minus nostrum. Tempora minus cumque saepe eius! Eius voluptate eaque laudantium perspiciatis nihil at molestiae mollitia! Debitis autem iste eos, expedita natus obcaecati mollitia ipsum nobis tempora culpa ab nostrum eaque quidem laboriosam? Consequuntur eligendi adipisci culpa consequatur iusto quos tempore, nisi, ipsam obcaecati ad quis unde dolorum! Nobis blanditiis animi expedita reprehenderit numquam, incidunt nulla provident!</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box box-md">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis veniam harum explicabo, vel facere officia quod est nihil excepturi itaque, aut consectetur illo! Exercitationem ipsa quis expedita doloremque in officia quod repellendus non, saepe voluptas aut, temporibus ut iusto consectetur ad cupiditate vel minus nostrum. Tempora minus cumque saepe eius! Eius voluptate eaque laudantium perspiciatis nihil at molestiae mollitia! Debitis autem iste eos, expedita natus obcaecati mollitia ipsum nobis tempora culpa ab nostrum eaque quidem laboriosam? Consequuntur eligendi adipisci culpa consequatur iusto quos tempore, nisi, ipsam obcaecati ad quis unde dolorum! Nobis blanditiis animi expedita reprehenderit numquam, incidunt nulla provident!</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box box-lg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis veniam harum explicabo, vel facere officia quod est nihil excepturi itaque, aut consectetur illo! Exercitationem ipsa quis expedita doloremque in officia quod repellendus non, saepe voluptas aut, temporibus ut iusto consectetur ad cupiditate vel minus nostrum. Tempora minus cumque saepe eius! Eius voluptate eaque laudantium perspiciatis nihil at molestiae mollitia! Debitis autem iste eos, expedita natus obcaecati mollitia ipsum nobis tempora culpa ab nostrum eaque quidem laboriosam? Consequuntur eligendi adipisci culpa consequatur iusto quos tempore, nisi, ipsam obcaecati ad quis unde dolorum! Nobis blanditiis animi expedita reprehenderit numquam, incidunt nulla provident!</p>
      </div>
    </div>
  </div>
</div>
